.tracker {
    background-color: #626262;

    margin : 20px;
    border-radius: 10px;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.barContainer {

    display: flex;
    /* justify-content: center; */
}