.heading {
    margin: 0;
    /* margin-left: 100px; */
    padding: 12px 0px 9px 20px ;
    color: white;
}

.transactionWindow {
    width: 100%;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;

    background-color: white;
}

.trcContainer {
    margin : 0px 10px 0px 0px;
    padding : 0px 50px 0px 50px;
    width: 40%;
}

.listText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.priceStyle {
    font-weight: 700;
    color: #F4BB4A;
    margin-right: 5px;
    padding-top: 10px;
}

@media (max-width : 1300px) {
    
    .trcContainer {
        margin : 0px 10px 0px 0px;
        padding : 0px 20px 0px 20px;
        width: 80%;
    }
}